<div class="bookings-container">
  <div class="bookings-list">
    <h1>All my bookings</h1>
    <% @bookings.each do |booking| %>
      <div class="card-trip">
        <img src=<%= booking.performance.img_url %> />
        <div class="card-trip-infos">
          <div class="card-trip-description">
            <p>Start Time: <%= booking.start_time&.to_time %></p>
            <p>End Time: <%= booking.end_time&.to_time %></p>
          </div>

          <h2 class="card-trip-pricing"><%= booking.total_cost %> CHF</h2>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
        </div>
      </div>
    <% end %>
  </div>
</div>


