<footer class="bg-light text-center">
  <div class="text-center p-4 border-top" style="background-color: #F7F7F7);">
    <div class="mb-4 center-icon">
      <!-- Facebook -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #3b5998; color:white;"
        href="https://www.facebook.com/Le-Wagon-290420631559489" target="_blank"
        role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #55acee; color:white;"
        href="https://twitter.com/search?q=actor%20swiss&src=typed_query" target="_blank"
        role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Google -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #dd4b39; color:white;"
        href="https://www.google.com/search?rlz=1C5CHFA_enCH911CH911&sxsrf=ALeKk03lXxopp693w3PxjD0sGdsoOo6BxQ:1614609735820&ei=O_08YOD2FdKDi-gPu-CM8AM&q=google%20th%C3%A9atre%20lausanne&oq=google+th%C3%A9atre+lausanne&gs_lcp=Cgdnd3Mtd2l6EAM6BwgAELADEEM6BwgAEEcQsAM6AggAOgYIABAWEB46BQghEKABOgcIIRAKEKABOgQIIRAVOgUIABDNAjoGCAAQBxAeOgoIABAIEAcQChAeOggIABAIEAcQHlDlKVjUTWDhVWgBcAJ4AIAB-QKIAcoVkgEHNy43LjIuMpgBAKABAaoBB2d3cy13aXrIAQnAAQE&sclient=gws-wiz&ved=2ahUKEwjbi4T-qY_vAhVO2aQKHSJTCfEQvS4wAXoECAUQFA&uact=5&tbs=lf:1,lf_ui:1&tbm=lcl&rflfq=1&num=10&rldimm=5011719011781109502&lqi=Chhnb29nbGUgdGjDqWF0cmUgbGF1c2FubmUiA4gBAZIBF3BlcmZvcm1pbmdfYXJ0c190aGVhdGVyqgEQEAEqDCIIdGjDqWF0cmUoBA&phdesc=vesblXgVHgs&rlst=f#rlfi=hd:;si:5011719011781109502,l,Chhnb29nbGUgdGjDqWF0cmUgbGF1c2FubmUiA4gBAZIBF3BlcmZvcm1pbmdfYXJ0c190aGVhdGVyqgEQEAEqDCIIdGjDqWF0cmUoBA,y,vesblXgVHgs;mv:[[46.5380022,6.665280699999999],[46.5106222,6.5815857]];tbs:lrf:!1m4!1u3!2m2!3m1!1e1!1m4!1u2!2m2!2m1!1e1!2m1!1e2!2m1!1e3,lf:1,lf_ui:1" target="_blank"
        role="button"
        ><i class="fab fa-google"></i
      ></a>

      <!-- Instagram -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #ac2bac; color:white;"
        href="https://www.instagram.com/theatredevidy/" target="_blank"
        role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #0082ca; color:white;"
        href="https://www.linkedin.com/search/results/all/?keywords=actor&origin=TYPEAHEAD_ESCAPE_HATCH" target="_blank"
        role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>
      <!-- Github -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #333333; color:white;"
        href="https://github.com/Ichenn92/peruname" target="_blank"
        role="button"
        ><i class="fab fa-github"></i
      ></a>
    </div>
    <div>
      Your performance is presented with <i class="fas fa-heart"></i> by
      <a href="#"> LeDernierRail.
    </div>
</a>
  </div>
  <!-- Copyright -->
</footer>
