    <div class="search-bar">

      <form action="/categories" class="form-inline padded mt-30">
        <input type="text" class="form-control" placeholder="Where?">
        <select name="categories" id="" class="form-control border-radius input-lg">
          <option selected>Categories</option>
          <option value="1">Celebrity</option>
          <option value="2">Superhero</option>
          <option value="3">Anime</option>
          <option value="4">Fake friend</option>
          <option value="5">Others</option>
        </select>
        <input type="text" name="start-time" class="form-control" placeholder="Start Time">
        <input type="text" name="end-time" class="form-control" placeholder="End Time">
        <input type="submit" class="btn btn-dark" value="Search">
      </form>
    </div>
