<% content_for(:navbar_class, "navbar-home fixed-top") %>

<div class="banner">
  <div class="banner-content text-center">
    <h1>Let's have fun</h1>
    <p>Book a unique performance in a unique place</p>
    <%= render 'shared/search-form' %>
  </div>
</div>
