<% content_for(:navbar_class, "navbar-home fixed-top navbar-dark") %>
<% content_for(:no_display_class, "d-none") %>
<% content_for(:logo, "Logo-white.png") %>

<div class="banner">



    <div class="banner-content text-center">
      <h1>Meet someone special now</h1>
      <p>Book a unique performance in a unique place</p>
      <%= render "shared/search-form" %>
    </div>

    <div class="btn-actor">
    <% unless current_user && current_user.actor? %>
      <section id="become-actor">
        <div class="banner-content text-center text-white border-top border-bottom p-4">
          <%= link_to edit_user_registration_path, class: "text-white" do %>
            <button class="btn btn-outline-light btn-lg mb-2">Become an actor today
          <% end %>
        </div>
      </section>
    <% end %>
    </div>
</div>

