.banner {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(rgba(0,0,0, 0.4), rgba(0,0,0,0.4)), image-url("background-funny.jpeg");
  background-size: cover;
  h1 {
    color: white;
    font-weight: bold;
    font-size: 45px;
  }
  p {
    color: white;
    opacity: 0.8;
    font-size: 30px;
    font-weight: lighter;
    margin-bottom: 30px;
  }
  .btn:link {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background-color: $color-brand-dark;
  transition: background 0.3s ease;
  }

  .btn:hover {
  background-color: $color-brand-dark;
  color: white;
  }
}
