.map-container {
    width: 100%;
}

.btn-map {
    box-shadow: 0 0 15px rgba($color: $color-brand-dark, $alpha: .5);
}

#button-switch-map {
    border-radius: 8px;
    width: 64px;
    height: 64px;
    position: absolute;
    right: 50px;
    top: 40px;
    margin-left: -50px; 
    z-index: 1;
}

#button-filter {
    border-radius: 8px;
    width: 64px;
    height: 64px;
    position: absolute;
    right: 50px;
    top: 130px;
    margin-left: -50px; 
    z-index: 1;
}

#button-close {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: absolute;
    right: 20px;
    top: 20px;
    margin-left: -50px; 
    z-index: 1;
    box-shadow: 0 0 8px rgba($color: #000000, $alpha: .2);
}


@media (min-width: 960px) {
    #button-switch-map {
        display: none;
    }
}
