.map-container {
    width: 100%;
}

.btn-map {
    box-shadow: 0 0 15px rgba($color: $color-brand-dark, $alpha: .5);
    display: flex;
    align-items: center;
    justify-content: center;
}

#button-switch-map {
    border-radius: 8px;
    width: 60px;
    height: 60px;
    position: absolute;
    right: 50px;
    top: 210px;
    margin-left: -50px; 
    z-index: 1;
}

#button-filter {
    border-radius: 8px;
    width: 60px;
    height: 60px;
    position: absolute;
    right: 50px;
    top: 120px;
    margin-left: -50px; 
    z-index: 1;
}


@media (min-width: 992px) {
    #button-switch-map {
        display: none;
    }
}
