.map-container {
    width: 100%;
}

#button-switch-map {
    border-radius: 5em;
    width: 100px;
    position: absolute;
    left: 50%;
    bottom: 30px;
    margin-left: -50px; 
}

#button-filter {
    border-radius: 8px;
    width: 64px;
    position: absolute;
    right: 50px;
    top: 30px;
    margin-left: -50px; 
    z-index: 1;
    box-shadow: 0 10px 30px rgba($color: #000000, $alpha: .3);
}

#button-close {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: absolute;
    right: 20px;
    top: 20px;
    margin-left: -50px; 
    z-index: 1;
    box-shadow: 0 0 8px rgba($color: #000000, $alpha: .2);
}


@media (min-width: 768px) {
    #button-switch-map {
        display: none;
    }
}
