$navbar-height: 80px;

.navbar-lewagon {
  height: $navbar-height;
  justify-content: space-between;
  background: black;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 120px;
}

.navbar-home {
  background: transparent;
  box-shadow: none;
  width: 100%;
  a.nav-link {
    color: white;
  }
}




