$navbar-height: 80px;

.navbar-lewagon {
  height: $navbar-height;
  justify-content: space-between;
  background: white;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-collapse {
  background-color: white;
  float: center;
  overflow:hidden;
  text-align:center;
}

.navbar-lewagon .navbar-brand img {
  width: 120px;
}

.navbar-home {
  background: transparent;
  box-shadow: none;
  width: 100%;
  position:absolute;
  a.nav-link {
    color: white;
  }
  .navbar-collapse {
  background-color: transparent;
  float: center;
  overflow:hidden;
  text-align:center;
  }
}

.next {
  height: $navbar-height;
  width: 100%;
  background-color: white;
  opacity: 0;
}

.navbar-nav {
  flex-direction: column-reverse;
}

