.sidebar {
  max-width: 576px;
  height: calc(100vh - 120px);
  margin: 0 auto;
  padding: 16px 8px 40px 8px;
  background-color: white;
  border-radius: 32px 32px 0 0;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 2;
  transition: .3s ease;
  box-shadow: 0 0 1000px rgba(0,0,0,0.3);
  
  .sidebar-container {
    position: relative;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    
    .sidebar-scrollable {
      height: 100%;
      overflow-y: auto;
    }

    #button-close {
      position: absolute;
      right: 20px;
      top: 20px;
      margin-left: -50px; 
      border-radius: 50%;
      z-index: 1;
      width: 50px;
      height: 50px;
      box-shadow: 0 0 8px rgba($color: #000000, $alpha: .2);
    }

    #button-submit-filter {
    }
  }
}

.translated-down {
  bottom: calc(-1 * (100vh - 80px - 100px));
  box-shadow: 0 0 0 0;
}

