// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

//Font size definitions
$xsmall-font-size: 12px;
$small-font-size: 16px;
$medium-font-size: 24px;
$big-font-size: 32px;

//Font weight definitions
$thin-font-weight: 300;
$regular-font-weight: 400;
$bold-font-weight: 600;

.text-xsmall {
    font-size: $xsmall-font-size;
}
.text-small {
    font-size: $small-font-size;
}
.text-medium {
    font-size: $medium-font-size;
}
.text-big {
    font-size: $big-font-size;
}

.text-thin {
    font-weight: $thin-font-weight;
}
.text-regular {
    font-weight: $regular-font-weight;
}
.text-bold {
    font-weight: $bold-font-weight;
}

.brand-color {
    background: linear-gradient(0deg, #5ba390, #1f4037);
}

.text-mode-gradient {
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.full-height-without-navbar {
    height: calc(100vh - 80px);
}