// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

// Importing fonts from google Font
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

$heading-font: 'Bebas Neue', cursive; //doesn't have font weights
$body-font: 'Quicksand', sans-serif;

//Font size definitions
$small-font-size: 16px;
$medium-font-size: 24px;
$big-font-size: 32px;

//Font weight definitions
$thin-font-weight: 300;
$regular-font-weight: 400;
$bold-font-weight: 600;