// Graphical variables
@import "config/custom";
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "performances/index";
@import "bookings/index";

#page-wrapper {
    min-height: calc(100vh - 71px - 150px);
}

a {
    color: #1f4037;
    &:hover {
        text-decoration: none;
        color: #5ba390;
    }
}

.disable{
    cursor: not-allowed;
    pointer-events: none;
 }
