<div class="row m-0">

  <div class="col p-0">
    <ul class="cards-performance full-height-without-navbar">
      <% @performances.each do |performance| %>
        <li class="card-performance">
          <%= render partial: "card_performance", locals: { performance: performance } %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="col-5 d-none d-md-block map-container full-height-without-navbar"
      id="map"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV["MAPBOX_API_KEY"] %>">
  </div>

</div>