<div class="row">

  <div class="col-7 p-0">
    <ul class="cards-performance">
      <% @performances.each do |performance| %>
        <li class="card-performance">
          <%= render partial: "card_performance", locals: { performance: performance } %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="col-5"
      id="map"
      style="width: 100%; height: 100vh;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV["MAPBOX_API_KEY"] %>">
  </div>

</div>