<button class="btn btn-light btn-lg btn-map" id="button-switch-map"><i class="text-big fas fa-map-marked-alt" id="symbol-switch-map"></i></button>
<button class="btn btn-light btn-lg btn-map" id="button-filter"><i class="text-big fas fa-filter" id="symbol-filter"></i></button>

<div class="d-flex m-0 position-relative">

  <div class="d-lg-block p-0" id="performances-column">
    <ul class="cards-performance full-height-without-navbar">
      <% @performances.each do |performance| %>
        <li class="card-performance">
          <%= render partial: "card_performance", locals: { performance: performance } %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="flex-grow-1 d-none d-lg-block map-container full-height-without-navbar"
      id="map"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV["MAPBOX_API_KEY"] %>">
  </div>

</div>

<%= render "shared/full-filter-form" %>